{% extends "home/base.html" %}
{% block content %}
<div class="section">
        <div class="container">
            <div class="row">
                <div class="title-area">
                    <h2>What I Do</h2>
                    <div class="separator separator-danger">✻</div>
                    <p class="description">I make special pieces out of polymer clay and resin inspired by everything around me</p>
                </div>
            </div>
            <div class="row ">
                <div class="col-md-4  ">
                    <div class="info-icon">
                        <div class="icon text-danger">
                            <img class="ServiceLogos" src="static/home/assets/img/ServicesLogo1.jpg">
                        </div>
                        <h3>Entertainment</h3>
                        <p class="description">I make items inspired by your favourite tv shows, movies and even anime shows</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info-icon">
                        <div class="icon text-danger">
                            <img class="ServiceLogos"src="static/home/assets/img/ServicesLogo2.png">
                        </div>
                        <h3>Food</h3>
                        <p class="description">I have a wide variety of miniature food charms to choose your favourite from!</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info-icon" style="position: relative;">
                        <div class="icon text-danger">
                         <img class="ServiceLogos" src="static/home/assets/img/ServicesLogo3.jpg">
                     </div>
                     <h3>Nature</h3>
                     <p class="description">I make individual polymer clay flowers and succulent jewellery that are perfect for summer! </p>
                 </div>
             </div>
         </div>
     </div>
 </div>
</div>


<div class="section section-our-team-freebie">
    <div class="parallax filter">
        <div class="image" style="background-image:url('static/home/assets/img/Mainbg7.png')">
        </div>
        <div class="container">
            <div class="content">
                <div class="row">
                    <div class="title-area">
                        <h2>Who We Are?</h2>
                        <div class="separator separator-danger">✻</div>
                        <p class="description"></p>
                    </div>
                </div>

                <div class="team">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card card-member">
                                        <div class="content">
                                            <div class="avatar avatar-danger">
                                                <img alt="..." class="img-circle" src="static/home/assets/img/BobRossPepe.png"/>
                                            </div>
                                            <div class="description">
                                                <h3 class="title">Reem Hassan</h3>
                                                <p class="small-text">Artirst</p>
                                                <p class="description">My name is Reem, I'm a 16 year old student at Queen International School, I have always been interested in crafts and arts, so in 2014 i have picked up polymer clay crafting and fell in love with it ever since.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="section section-freebie">
    <div class="container">
        <div class="title-area">
            <h5 class="subtitle text-gray">Here are some of</h5>
            <h2>My Personal Favourites</h2>
            <div class="separator separator-danger">∎</div>
            <h5>Ones that I truly adore and enjoyed making </h5>
        </div>
        <center>
              <img src="static/home/assets/img/Fav1.jpg"class="FavImg">
              <img src="static/home/assets/img/Fav2.jpg"class="FavImg">
              <img src="static/home/assets/img/Fav3.jpg"class="FavImg">
              <img src="static/home/assets/img/Fav4.jpg"class="FavImg">
        </center>

      <hr>
      <div class="button-get-started">
        <a href="#gaia" class="btn btn-danger btn-fill btn-md">Click to view full collection</a>
    </div>
</div>
</div>

{% endblock content %}



