{% extends "home/base.html" %}
{% block NavBar %}
{% load static %}

    <div class="section section-header-freebie">
        <div class="parallax filter filter-color-red">
            <div class="image"
            style="background-image: url('{%static 'home/assets/img/Mainbg4.jpg' %}')">
        </div>
        <div class="container">
            <div class="content">
                <div class="title-area">
                    <h1>Post Suggestion</h1>
                        <div class="separator line-separator">♦</div>
                    </div>

                    <div class="button-get-started"style="margin-bottom:40px;">
                        <a href=" {% url 'profile' %}" class="btn btn-white btn-fill btn-lg ">
                            Back To profile
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock NavBar %}

{% load crispy_forms_tags %}
{% block content %}
<div class="section container">
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Post Suggestion</legend>
                {{form|crispy}}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-danger btn-fill" type="submit">Post</button>
            </div>
        </form>
        <hr>
    </div>
</div>
{% endblock content %}

{% block suggestmain %}{% endblock suggestmain %}