{% extends "home/base.html" %}
{% block NavBar %}
{% load static %}

    <div class="section section-header-freebie">
        <div class="parallax filter filter-color-red">
            <div class="image"
            style="background-image: url('{%static 'home/assets/img/Mainbg4.jpg' %}')">
            </div>
        <div class="container">
            <div class="content">
                <div class="title-area">
                    <h1>You have been logged out </h1>

                    <div class="button-get-started">
                        <a href=" {% url 'login' %}" style="margin-bottom:40px;" target="" class="btn btn-white btn-fill btn-lg ">
                            login again
                        </a>

                    </div>
                        <div class="separator line-separator">♦</div>
                    </div>

                    <div class="button-get-started">
                        <a href=" {% url 'home-main' %}" style="margin-bottom:40px;" target="" class="btn btn-white btn-fill btn-lg ">
                            Back To Home
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock NavBar %}


{% block content %}{% endblock content %}

{% block suggestmain %}{% endblock suggestmain %}